<section class="section_loginError">
    <div class="loginError_container">
            <h1>Error al iniciar sesion</h1>
        </div>
        <div class="loginError_message">
            <span>Usuario o contraseña incorrectas</span>
            <a href="/login">
                <button>Back to Sign in</button>
            </a>
        </div>
    </div>
</section>